main {
    min-height:80vh;
}

#heightTop{
    height:100%;
    padding-top:1.5rem;
}


.rating span{
    margin:0.1rem;
}


.rating svg {
    color:#f8e825
}

.rating-text{
    font-size:0.8rem;
    font: weight 600;
    padding-left:0.5rem

}


.product-title{
    font-size:0.8rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}